@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Giris.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="back">
                <img class="backImg" src="~/Images/picture1.jpg" alt="">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form id="account" method="post">
                        <div class="input-boxes">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <!-- Email Input -->
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <!-- Password Input -->
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                <label asp-for="Input.Password" class="form-label"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <!-- Remember Me Checkbox -->
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <!-- Submit Button -->
                            <div class="button input-box">
                                <input type="submit" value="Submit">
                            </div>
                            <!-- Sign-Up Link -->
                            <div class="text sign-up-text">Hesabınız var mı? <a href="/KaydolVeGiris/Giris">Giriş Yap</a></div>
                        </div>
                    </form>
                </div>
                <!-- External Login Section -->
                <div class="col-md-6 col-md-offset-2">
                    <section>
                        <h3>Use another service to log in.</h3>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
